/* Color palette
--brunswick-green: #0f4035ff;
--persian-orange: #d18a54ff;
--chamoisee: #aa8558ff;
--delft-blue: #20325aff;
--silver: #b0b0b0ff;
*/

body {
  flex: 1 1 auto;
  position: relative;
  max-width: 750px;
  margin: 10px auto;
  z-index: 1;
  width: 100%;
}

.logo {
  max-width: 50%;
  margin: 20px auto;
}

img {
  width: 100%;
}

.construction-warning {
  padding: 10px;
}

.welcome {
  font-size: 18px;
}

.fundraiser {
  border: 8px ridge orange;
  margin-top: 20px;
  padding: 10px;
}
