body {
  flex: 1 1 auto;
  position: relative;
  max-width: 750px;
  margin: 10px auto;
  z-index: 1;
  width: 100%;
}

.logo {
  max-width: 50%;
  margin: 20px auto;
}

img {
  width: 100%;
}

.construction-warning {
  padding: 10px;
}
