/* Color palette
--brunswick-green: #0f4035ff;
--persian-orange: #d18a54ff;
--chamoisee: #aa8558ff;
--delft-blue: #20325aff;
--silver: #b0b0b0ff;
*/

body {
  flex: 1 1 auto;
  position: relative;
  max-width: 750px;
  margin: 10px auto;
  z-index: 1;
  width: 100%;
  line-height: 130%;
}

img {
  width: 100%;
}

h2 {
  padding-top: 40px;
}

.logo {
  max-width: 50%;
  margin: 20px auto;
}
.contents {
  max-width: 80%;
  padding: 0 40px;
  margin: 0;
}

.description {
  text-indent: 30px;
}

/* bad practice, but lets do it anyways */
.border-bottom {
  border-bottom: solid 1px;
  padding-bottom: 16px;
}

.no-indent {
  text-indent: 0;
}
/* end bad practice */

.construction-warning {
  padding: 10px;
  border: 1px solid black;
  margin-top: 20px;
}

.resources {
  overflow-wrap: break-word;
}
